<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
  	<div class="container">
  		<div class="mt-4 border-bottom">
	  		<ul class="nav nav-pills float-right">
	  			<li class="nav-item">
		  			<%= link_to "Home", root_url, class: 'nav-link' %>
		  		</li>
		  		<li class="nav-item">
		  			<%= link_to "Posts", posts_url, class: 'nav-link' %>
		  		</li>
		  		<li class="nav-item">
		  			<%= link_to "About", about_url, class: 'nav-link' %>
		  		</li>
			</ul>
			<h1><%= link_to "myblog", root_url %> <small class="text-muted">// daily self-deprecation</small></h1>
		</div>
		<div class="col-md-8 offset-md-2 mt-4">
	    	<%= yield %>
		</div>
	</div>
  </body>
</html>
